
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="Tests/bootstrap.php"
>
    <php>
        <server name="KERNEL_DIR" value="../../app"/>
        <env name="KERNEL_CLASS" value="AppKernel"/>
        <server name="MAUTIC_TABLE_PREFIX" value=""/>
        <server name="DB_HOST" value="db"/>
        <server name="DB_PORT" value="3306"/>
        <server name="DB_NAME" value="db"/>
        <server name="DB_USER" value="root"/>
        <server name="DB_PASSWD" value="root"/>
        <server name="MAUTIC_ENV" value="test"/>
        <server name="MAUTIC_ADMIN_USERNAME" value="admin"/>
        <server name="MAUTIC_ADMIN_PASSWORD" value="mautic"/>

    </php>
    <testsuites>
        <testsuite name="CompanySegmentWidgetTest">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
